<!DOCTYPE html>
<html lang="en">
<head>
<title>Orange Acres | Estimator</title>
<meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}" type="text/css" media="all">
<link rel="stylesheet" href="{{url_for('static', filename='css/grid.css')}}" type="text/css" media="all">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" media="all">
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.4.2.min.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static', filename='js/cufon-yui.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/Myriad_Pro_italic_400-Myriad_Pro_italic_600.font.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/cufon-replace.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.faded.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
<!--[if lt IE 7]>
<script type="text/javascript" src="{{url_for('static', filename='js/ie_png.js')}}"></script>
<script type="text/javascript">ie_png.fix('.png, .logo, .extra-banner');</script>
<![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="{{url_for('static', filename='js/html5.js')}}"></script><![endif]-->
</head>
<body>
<!-- START PAGE SOURCE -->
<header>
  <div class="container_16">
    <div class="logo">
      <h1><a href="#"><strong>Orange</strong> Acres</a></h1>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/estimator" class="current">Estimator</a></li>
      </ul>
    </nav>
    <div id="faded">
      <div class="rap">
       <a href="#"><img src="{{url_for('static', filename='images/houses_1.jpg')}}" alt="" width="571" height="398"></a>
        <a href="#"><img src="{{url_for('static', filename='images/houses_2.jpg')}}" alt="" width="571" height="398"></a>
        <a href="#"><img src="{{url_for('static', filename='images/houses_3.jpg')}}" alt="" width="571" height="398"></a>
      </div>
      <ul class="pagination">
        <li> <a href="#" rel="0"> <img src="{{url_for('static', filename='images/f_houses1.png')}}" alt=""> <span class="left"> Silver Brook<br />
          Family-friendly,<br />
           <p style="color:orange"> High-Demand </p></span> <span class="right"> <br />
          Accessibility<br />
          </span> </a> </li>
        <li> <a href="#" rel="1"> <img src="{{url_for('static', filename='images/f_houses2.png')}}" alt=""> <span class="left"> El Montero<br />
          Outdoorsy,<br />
          Cultural Hub </span> <span class="right"> <br />
          Historical<br />
          </span> </a> </li>
        <li> <a href="#" rel="2"> <img src="{{url_for('static', filename='images/f_houses3.png')}}" alt=""> <span class="left"> Everton Beach<br />
          Nightlife,<br />
          <p style="color:orange"> High-Demand </p></span> <span class="right"><br />
          Art Hub<br />
          </span> </a> </li>
      </ul>
        </div>
  </div>
</header>
<section id="content">
  <div class="container_16">
    <div class="clearfix">
      <section id="mainContent" class="grid_10">
        <article>
          <h2>Home Value Estimator</h2>
          <div class="wrapper">
            <h3>Lorem ipsum dolor sit amet consectetuer adipiscing elit Praesent vestibulum moles tie lacuseneane nonummy. </h3>

            <a href="#" class="button">Calculate</a> </div>
        </article>
        <article class="last">
          <h2>Mortgage Center</h2>
          <hgroup>
            <h5>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis. </h5>
            <h4>Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent</h4>
          </hgroup>

        </article>
      </section>
      <aside class="grid_6">
        <div class="prefix_1">
          <article>
            <div class="box">
              <h2>Find a Sell Associate</h2>
              <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
              <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.</p>
            </div>
          </article>
          <article class="last">
            <h2>Find Sales</h2>
            <h4>Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent.</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
             </article>
        </div>
      </aside>
    </div>
  </div>
</section>
<footer>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>
