<!DOCTYPE html>
<html lang="en">
<head>
<title>Orange Acres | Estimator</title>
<meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}" type="text/css" media="all">
<link rel="stylesheet" href="{{url_for('static', filename='css/grid.css')}}" type="text/css" media="all">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" media="all">
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.4.2.min.js')}}" ></script>
<script type="text/javascript" src="{{url_for('static', filename='js/cufon-yui.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/Myriad_Pro_italic_400-Myriad_Pro_italic_600.font.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/cufon-replace.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.faded.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
<!--[if lt IE 7]>
<script type="text/javascript" src="{{url_for('static', filename='js/ie_png.js')}}"></script>
<script type="text/javascript">ie_png.fix('.png, .logo, .extra-banner');</script>
<![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="{{url_for('static', filename='js/html5.js')}}"></script><![endif]-->
</head>
<body>
<!-- START PAGE SOURCE -->
<header>
  <div class="container_16">
    <div class="logo">
      <h1><a href="#"><strong>Orange</strong> Acres</a></h1>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/estimator" class="current">Estimator</a></li>
      </ul>
    </nav>
    <div id="faded">
      <div class="rap">
       <a href="#"><img src="{{url_for('static', filename='images/houses_1.jpg')}}" alt="" width="571" height="398"></a>
        <a href="#"><img src="{{url_for('static', filename='images/houses_2.jpg')}}" alt="" width="571" height="398"></a>
        <a href="#"><img src="{{url_for('static', filename='images/houses_3.jpg')}}" alt="" width="571" height="398"></a>
      </div>
      <ul class="pagination">
        <li> <a href="#" rel="0"> <img src="{{url_for('static', filename='images/f_houses1.png')}}" alt=""> <span class="left"><b>Silver Brook</b><br />
          Family-friendly,<br />
           <p style="color:orange"> High-Demand </p></span> <span class="right"> <br />
          Accessibility<br />
          </span> </a> </li>
        <li> <a href="#" rel="1"> <img src="{{url_for('static', filename='images/f_houses2.png')}}" alt=""> <span class="left"> <b>El Montero</b><br />
          Outdoorsy,<br />
          Cultural Hub </span> <span class="right"> <br />
          Historical<br />
          </span> </a> </li>
        <li> <a href="#" rel="2"> <img src="{{url_for('static', filename='images/f_houses3.png')}}" alt=""> <span class="left"> <b>Everton Beach</b><br />
          Nightlife,<br />
          <p style="color:orange"> High-Demand </p></span> <span class="right"><br />
          Art Hub<br />
          </span> </a> </li>
      </ul>
        </div>
  </div>
</header>
<section id="content">
  <div class="container_16">
    <div class="clearfix">
      <section id="mainContent" class="grid_10">
        <article>
          <div class="wrapper">
            <div class="box">
              <h2>Home Value Estimator</h2>
              <p>Our trusted tool to help you estimate the cost of an existing or future home in one of our neighborhoods</p>
              <form action="#" method="POST">
                <div style="float:left;"> <label for="area"><b>Area</b></label> <input id="area" type="number" value="" name="area"> </div>
                <div style="float:left;"> <label for="bedrooms"><b>Bedrooms</b></label> <input id="bedrooms" type="number" value="" name="bedrooms"> </div>
                <br style="clear:both;" />
                <div style="float:left;"> <label for="bathrooms"><b>Bathrooms</b></label> <input id="bathrooms" type="number" value="" name="bathrooms"> </div>
                <div style="float:left;"> <label for="stories"><b>Stories</b></label> <input id="stories" type="number" value="" name="stories"> </div>
                <br style="clear:both;" />
                <div class="radio-group"> <label><b>Mainroad Access:</b></label>
                  <label class="radio" for="mainroad_yes"><input id="mainroad_yes" type="radio" value="1" name="mainroad">Yes</label>
                  <label class="radio" for="mainroad_no"><input id="mainroad_no" type="radio" value="0" name="mainroad">No</label>
                </div>
                <div class="radio-group"> <label><b>Guestroom:</b></label>
                  <input class="radio" id="guestroom_yes" type="radio" value="1" name="guestroom"><label for="guestroom_yes">Yes</label>
                  <input class="radio" id="guestroom_no" type="radio" value="0" name="guestroom"><label for="guestroom_no">No</label>
                </div>
                <div class="radio-group"> <label><b>Basement:</b></label>
                  <input class="radio" id="basement_yes" type="radio" value="1" name="basement"><label for="basement_yes">Yes</label>
                  <input class="radio" id="basement_no" type="radio" value="0" name="basement"><label for="basement_no">No</label>
                </div>
                <div class="radio-group"> <label><b>Hotwater Heating:</b></label>
                  <input class="radio" id="hotwater_yes" type="radio" value="1" name="hotwater"><label for="hotwater_yes">Yes</label>
                  <input class="radio" id="hotwater_no" type="radio" value="0" name="hotwater"><label for="hotwater_no">No</label>
                </div>
                <div class="radio-group"> <label><b>Airconditioning:</b></label>
                  <input class="radio" id="aircon_yes" type="radio" value="1" name="aircon"><label for="aircon_yes">Yes</label>
                  <input class="radio" id="aircon_no" type="radio" value="0" name="aircon"><label for="aircon_no">No</label>
                </div>
                <div class="radio-group"> <label><b>Parking Spots:</b></label>
                  <input class="radio" id="parking_0" type="radio" value="0" name="parking"><label for="parking_0">0</label>
                  <input class="radio" id="parking_1" type="radio" value="1" name="parking"><label for="parking_1">1</label>
                  <input class="radio" id="parking_2" type="radio" value="2" name="parking"><label for="parking_2">2</label>
                  <input class="radio" id="parking_3" type="radio" value="3" name="parking"><label for="parking_3">3</label>
                </div>
                <div class="radio-group"> <label><b>High-Demand Neighborhood:</b></label>
                  <input class="radio" id="highdemand_yes" type="radio" value="1" name="highdemand"><label for="highdemand_yes">Yes</label>
                  <input class="radio" id="highdemand_no" type="radio" value="0" name="highdemand"><label for="highdemand_no">No</label>
                </div>
                <div class="radio-group"> <label><b>Furnishing Status:</b></label>
                  <input class="radio" id="furnishing_full" type="radio" value="0" name="furnishing"><label for="furnishing_full">Fully-Furnished</label>
                  <input class="radio" id="furnishing_semi" type="radio" value="1" name="furnishing"><label for="furnishing_semi">Semi-Furnished</label>
                  <input class="radio" id="furnishing_none" type="radio" value="2" name="furnishing"><label for="furnishing_none">Unfurnished</label>
                </div>
                <br /> <input type="submit" class="button" value="Calculate">
                </form>
              <br style="clear:both;" />
              <div class="estimation">
                <span class="currency">$</span>
                <input type="text" id="estimate" name="estimate" value="{{estimated_value}}" readonly>
              </div>
            </div>
          </div>
        </article>
        <article class="last">
          <h2>Mortgage Center</h2>
          <hgroup>
            <h5>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis. </h5>
            <h4>Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent</h4>
          </hgroup>
        </article>
      </section>
      <aside class="grid_6">
        <div class="prefix_1">
          <article class="last">
            <h2>Find Sales</h2>
            <h4>Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent.</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
             </article>
        </div>
      </aside>
    </div>
  </div>
</section>
<footer>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>
